.alerts {
  margin: 10% 0;
}

.alert {
  width: 50%;
  height: 5rem;
  font-size: 1.2rem;;
}


.btn {
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-left: -3rem;
  margin-top: 1.2rem;
}

.fadeAlert {
  opacity: 0;
  transition: opacity 0.50s linear;
}

