*{
    list-style-type: none;
}


.navbar a:hover {
    color: black;
}

.iconMenu {
    position: absolute;
    right: 1rem;
    top: 1.6rem;
}

.iconClose {
    position: absolute;
    right: 1rem;
    top: 1.6rem;
}